@use 'util' as *;
@use 'variables' as *;

$white: mix-color(light, $grey, 100%) !default;
$gray-050: mix-color(light, $grey, 90%) !default;
$gray-100: mix-color(light, $grey, 80%) !default;
$gray-150: mix-color(light, $grey, 70%) !default;
$gray-200: mix-color(light, $grey, 60%) !default;
$gray-250: mix-color(light, $grey, 50%) !default;
$gray-300: mix-color(light, $grey, 40%) !default;
$gray-350: mix-color(light, $grey, 30%) !default;
$gray-400: mix-color(light, $grey, 20%) !default;
$gray-450: mix-color(light, $grey, 10%) !default;
$gray-500: mix-color(light, $grey, 0%) !default;
$gray-550: mix-color(dark, $grey, 10%) !default;
$gray-600: mix-color(dark, $grey, 20%) !default;
$gray-650: mix-color(dark, $grey, 30%) !default;
$gray-700: mix-color(dark, $grey, 40%) !default;
$gray-750: mix-color(dark, $grey, 50%) !default;
$gray-800: mix-color(dark, $grey, 60%) !default;
$gray-850: mix-color(dark, $grey, 70%) !default;
$gray-900: mix-color(dark, $grey, 80%) !default;
$gray-950: mix-color(dark, $grey, 90%) !default;
$black: mix-color(dark, $grey, 100%) !default;

$primary-100: mix-color(light, $primary, 80%) !default;
$primary-200: mix-color(light, $primary, 60%) !default;
$primary-300: mix-color(light, $primary, 40%) !default;
$primary-400: mix-color(light, $primary, 20%) !default;
$primary-500: mix-color(light, $primary, 0%) !default;
$primary-600: mix-color(dark, $primary, 20%) !default;
$primary-700: mix-color(dark, $primary, 40%) !default;
$primary-800: mix-color(dark, $primary, 60%) !default;
$primary-900: mix-color(dark, $primary, 80%) !default;

$secondary-100: mix-color(light, $secondary, 80%) !default;
$secondary-200: mix-color(light, $secondary, 60%) !default;
$secondary-300: mix-color(light, $secondary, 40%) !default;
$secondary-400: mix-color(light, $secondary, 20%) !default;
$secondary-500: mix-color(light, $secondary, 0%) !default;
$secondary-600: mix-color(dark, $secondary, 20%) !default;
$secondary-700: mix-color(dark, $secondary, 40%) !default;
$secondary-800: mix-color(dark, $secondary, 60%) !default;
$secondary-900: mix-color(dark, $secondary, 80%) !default;

$color-1-100: mix-color(light, $color-1, 80%) !default;
$color-1-200: mix-color(light, $color-1, 60%) !default;
$color-1-300: mix-color(light, $color-1, 40%) !default;
$color-1-400: mix-color(light, $color-1, 20%) !default;
$color-1-500: mix-color(light, $color-1, 0%) !default;
$color-1-600: mix-color(dark, $color-1, 20%) !default;
$color-1-700: mix-color(dark, $color-1, 40%) !default;
$color-1-800: mix-color(dark, $color-1, 60%) !default;
$color-1-900: mix-color(dark, $color-1, 80%) !default;

$color-2-100: mix-color(light, $color-2, 80%) !default;
$color-2-200: mix-color(light, $color-2, 60%) !default;
$color-2-300: mix-color(light, $color-2, 40%) !default;
$color-2-400: mix-color(light, $color-2, 20%) !default;
$color-2-500: mix-color(light, $color-2, 0%) !default;
$color-2-600: mix-color(dark, $color-2, 20%) !default;
$color-2-700: mix-color(dark, $color-2, 40%) !default;
$color-2-800: mix-color(dark, $color-2, 60%) !default;
$color-2-900: mix-color(dark, $color-2, 80%) !default;

$color-3-100: mix-color(light, $color-3, 80%) !default;
$color-3-200: mix-color(light, $color-3, 60%) !default;
$color-3-300: mix-color(light, $color-3, 40%) !default;
$color-3-400: mix-color(light, $color-3, 20%) !default;
$color-3-500: mix-color(light, $color-3, 0%) !default;
$color-3-600: mix-color(dark, $color-3, 20%) !default;
$color-3-700: mix-color(dark, $color-3, 40%) !default;
$color-3-800: mix-color(dark, $color-3, 60%) !default;
$color-3-900: mix-color(dark, $color-3, 80%) !default;

$color-4-100: mix-color(light, $color-4, 80%) !default;
$color-4-200: mix-color(light, $color-4, 60%) !default;
$color-4-300: mix-color(light, $color-4, 40%) !default;
$color-4-400: mix-color(light, $color-4, 20%) !default;
$color-4-500: mix-color(light, $color-4, 0%) !default;
$color-4-600: mix-color(dark, $color-4, 20%) !default;
$color-4-700: mix-color(dark, $color-4, 40%) !default;
$color-4-800: mix-color(dark, $color-4, 60%) !default;
$color-4-900: mix-color(dark, $color-4, 80%) !default;

$color-5-100: mix-color(light, $color-5, 80%) !default;
$color-5-200: mix-color(light, $color-5, 60%) !default;
$color-5-300: mix-color(light, $color-5, 40%) !default;
$color-5-400: mix-color(light, $color-5, 20%) !default;
$color-5-500: mix-color(light, $color-5, 0%) !default;
$color-5-600: mix-color(dark, $color-5, 20%) !default;
$color-5-700: mix-color(dark, $color-5, 40%) !default;
$color-5-800: mix-color(dark, $color-5, 60%) !default;
$color-5-900: mix-color(dark, $color-5, 80%) !default;

$color-6-100: mix-color(light, $color-6, 80%) !default;
$color-6-200: mix-color(light, $color-6, 60%) !default;
$color-6-300: mix-color(light, $color-6, 40%) !default;
$color-6-400: mix-color(light, $color-6, 20%) !default;
$color-6-500: mix-color(light, $color-6, 0%) !default;
$color-6-600: mix-color(dark, $color-6, 20%) !default;
$color-6-700: mix-color(dark, $color-6, 40%) !default;
$color-6-800: mix-color(dark, $color-6, 60%) !default;
$color-6-900: mix-color(dark, $color-6, 80%) !default;

$color-7-100: mix-color(light, $color-7, 80%) !default;
$color-7-200: mix-color(light, $color-7, 60%) !default;
$color-7-300: mix-color(light, $color-7, 40%) !default;
$color-7-400: mix-color(light, $color-7, 20%) !default;
$color-7-500: mix-color(light, $color-7, 0%) !default;
$color-7-600: mix-color(dark, $color-7, 20%) !default;
$color-7-700: mix-color(dark, $color-7, 40%) !default;
$color-7-800: mix-color(dark, $color-7, 60%) !default;
$color-7-900: mix-color(dark, $color-7, 80%) !default;

$color-8-100: mix-color(light, $color-8, 80%) !default;
$color-8-200: mix-color(light, $color-8, 60%) !default;
$color-8-300: mix-color(light, $color-8, 40%) !default;
$color-8-400: mix-color(light, $color-8, 20%) !default;
$color-8-500: mix-color(light, $color-8, 0%) !default;
$color-8-600: mix-color(dark, $color-8, 20%) !default;
$color-8-700: mix-color(dark, $color-8, 40%) !default;
$color-8-800: mix-color(dark, $color-8, 60%) !default;
$color-8-900: mix-color(dark, $color-8, 80%) !default;

/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable property-no-unknown */
:export {
    white: $white;
    gray-050: $gray-050;
    gray-100: $gray-100;
    gray-150: $gray-150;
    gray-200: $gray-200;
    gray-250: $gray-250;
    gray-300: $gray-300;
    gray-350: $gray-350;
    gray-400: $gray-400;
    gray-450: $gray-450;
    gray-500: $gray-500;
    gray-550: $gray-550;
    gray-600: $gray-600;
    gray-650: $gray-650;
    gray-700: $gray-700;
    gray-750: $gray-750;
    gray-800: $gray-800;
    gray-850: $gray-850;
    gray-900: $gray-900;
    gray-950: $gray-950;
    black: $black;
    primary-100: $primary-100;
    primary-200: $primary-200;
    primary-300: $primary-300;
    primary-400: $primary-400;
    primary-500: $primary-500;
    primary-600: $primary-600;
    primary-700: $primary-700;
    primary-800: $primary-800;
    primary-900: $primary-900;
    secondary-100: $secondary-100;
    secondary-200: $secondary-200;
    secondary-300: $secondary-300;
    secondary-400: $secondary-400;
    secondary-500: $secondary-500;
    secondary-600: $secondary-600;
    secondary-700: $secondary-700;
    secondary-800: $secondary-800;
    secondary-900: $secondary-900;
    color-1-100: $color-1-100;
    color-1-200: $color-1-200;
    color-1-300: $color-1-300;
    color-1-400: $color-1-400;
    color-1-500: $color-1-500;
    color-1-600: $color-1-600;
    color-1-700: $color-1-700;
    color-1-800: $color-1-800;
    color-1-900: $color-1-900;
    color-2-100: $color-2-100;
    color-2-200: $color-2-200;
    color-2-300: $color-2-300;
    color-2-400: $color-2-400;
    color-2-500: $color-2-500;
    color-2-600: $color-2-600;
    color-2-700: $color-2-700;
    color-2-800: $color-2-800;
    color-2-900: $color-2-900;
    color-3-100: $color-3-100;
    color-3-200: $color-3-200;
    color-3-300: $color-3-300;
    color-3-400: $color-3-400;
    color-3-500: $color-3-500;
    color-3-600: $color-3-600;
    color-3-700: $color-3-700;
    color-3-800: $color-3-800;
    color-3-900: $color-3-900;
    color-4-100: $color-4-100;
    color-4-200: $color-4-200;
    color-4-300: $color-4-300;
    color-4-400: $color-4-400;
    color-4-500: $color-4-500;
    color-4-600: $color-4-600;
    color-4-700: $color-4-700;
    color-4-800: $color-4-800;
    color-4-900: $color-4-900;
    color-5-100: $color-5-100;
    color-5-200: $color-5-200;
    color-5-300: $color-5-300;
    color-5-400: $color-5-400;
    color-5-500: $color-5-500;
    color-5-600: $color-5-600;
    color-5-700: $color-5-700;
    color-5-800: $color-5-800;
    color-5-900: $color-5-900;
    color-6-100: $color-6-100;
    color-6-200: $color-6-200;
    color-6-300: $color-6-300;
    color-6-400: $color-6-400;
    color-6-500: $color-6-500;
    color-6-600: $color-6-600;
    color-6-700: $color-6-700;
    color-6-800: $color-6-800;
    color-6-900: $color-6-900;
    color-7-100: $color-7-100;
    color-7-200: $color-7-200;
    color-7-300: $color-7-300;
    color-7-400: $color-7-400;
    color-7-500: $color-7-500;
    color-7-600: $color-7-600;
    color-7-700: $color-7-700;
    color-7-800: $color-7-800;
    color-7-900: $color-7-900;
    color-8-100: $color-8-100;
    color-8-200: $color-8-200;
    color-8-300: $color-8-300;
    color-8-400: $color-8-400;
    color-8-500: $color-8-500;
    color-8-600: $color-8-600;
    color-8-700: $color-8-700;
    color-8-800: $color-8-800;
    color-8-900: $color-8-900;
}
